.CustomInput {
  display: flex;
  gap: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 10px;
  align-items: center;
  border-radius: 6px;

  > *:not(:last-of-type) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    height: 100%;
  }
}

.InputLabel {
  padding-right: 8px;
  font-weight: 600;
}
