.matrix-container {
  overflow-x: scroll;
}

.matrix-table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--mantine-color-default-border);
  vertical-align: middle;

  th {
    background: var(--mantine-color-body);
  }

  th,
  td {
    border: 1px solid var(--mantine-color-default-border);
    padding: 16px;
    text-align: center;
    vertical-align: middle;
    /* min-width: 200px; */
    /* width: 300px; */
  }

  tr {
    height: 1px;
  }

  td:first-of-type {
    min-width: 400px;
  }

  td.output-cell {
    width: 700px;
    min-width: 500px;

    text-align: left !important;
  }

  td.nested-cell {
    padding: 0;
    border: none;
    height: 100%;
  }

  td > table {
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    vertical-align: middle;
  }
}
