.matrix-table {
  width: 100%;
  margin: 32px auto;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid var(--mantine-color-default-border);

  th {
    background: var(--mantine-color-body);
  }

  th,
  td {
    border: 1px solid var(--mantine-color-default-border);
    padding: 16px;
    text-align: center;
    min-width: 150px;
  }
}
