.custom-input {
  display: flex;
  gap: 8px;

  background: var(--mantine-color-body);

  align-items: center;

  > :globals(.mantine-MultiSelect-root) {
    min-width: 80px;
  }

  &.minimal {
    border: 1px solid var(--mantine-color-default-border);
    border-radius: var(--mantine-radius-default);
    padding: 0px 10px;
    > *:not(:last-of-type) {
      border-right: 1px solid var(--mantine-color-default-border);
      height: 100%;
    }
  }

  &:not(.minimal) {
    display: flex;

    flex-direction: column;
    align-items: flex-start;

    > *:not(:last-of-type) {
      font-size: 16px !important;
    }
  }
}

.input-label {
  padding-right: 8px;
  font-weight: 600;
}

.modal-content {
  padding: 24px;
  background-color: #f5f6f8;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  height: 120px;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
  transition:
    box-shadow 150ms ease,
    transform 100ms ease;
}

.footer-container {
  height: 70px;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 24px;

  justify-content: end;
}
