.group-label:first-child {
  padding-top: 0.5rem;
}

.group-label {
  font-size: 0.8rem;
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 0.2rem;

  &::after {
    content: "";
    display: none !important;
  }
}
