name: Run tests

on:
  push:
    branches-ignore:
      - "main"
  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      # - name: Cache Playwright binaries
      #   uses: actions/cache@v4
      #   id: playwright-cache
      #   with:
      #     path: ~/.cache/ms-playwright
      #     key: ${{ runner.os }}-playwright-${{ hashFiles('**/package-lock.json') }}
      #     restore-keys: |
      #       ${{ runner.os }}-playwright-

      # - name: Install dependencies
      #   run: npm ci

      # - name: Install Playwright
      #   # if: steps.playwright-cache.outputs.cache-hit != 'true'
      #   run: npx playwright install --with-deps chromium

      # - name: Start backend
      #   env:
      #     DATABASE_URL: ${{ secrets.DATABASE_URL }}
      #     JWT_SECRET: ${{ secrets.JWT_SECRET }}
      #     APP_URL: http://0.0.0.0:8080
      #     API_URL: http://0.0.0.0:3333
      #     LUNARY_PUBLIC_KEY: 259d2d94-9446-478a-ae04-484de705b522
      #     OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      #   timeout-minutes: 1
      #   run: npm run start:backend & npx wait-on http://localhost:3333/v1/health

      # - name: Start frontend
      #   env:
      #     API_URL: http://0.0.0.0:3333
      #     NEXT_PUBLIC_API_URL: http://0.0.0.0:3333
      #   timeout-minutes: 3
      #   run: (npm run build:frontend && npm run start:frontend)  & npx wait-on http://0.0.0.0:8080/

      # - name: Run tests

      #   run: npx playwright test
      #   env:
      #     BASE_URL: http://0.0.0.0:8080
      #     DATABASE_URL: ${{ secrets.DATABASE_URL }}
      # - uses: actions/upload-artifact@v4
      #   if: ${{ !cancelled() }}
      #   with:
      #     name: playwright-report
      #     path: playwright-report/
      #     retention-days: 30
